.spoiler-button {
    position: fixed;
    top: 20%;
    right: 0;
    z-index: 9998;
    cursor: pointer;
}

.spoiler-control-panel {
    position: fixed;
    top: 46px;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: block;
    overflow-y: auto;
}

.close-button {
    position: relative;
    left: 80%;
}

.season-list {
    position: relative;
    left: 5%;
}

.episode-element {
    position: relative;
    left: 10%;
}

.blur {
    filter: blur(6px);
}